// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Style1 {padding-top:10px;height: 150px; width:400px; color: black; background-color: lightgrey; border-radius: 15px; flex-direction: row; overflow: scroll}
